body {
  margin: 0;
  background: linear-gradient(270deg, #0081ff, #012a52);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite; }

button:focus {
  outline: 0; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: .3em; }

@keyframes resize {
  0% {
    grid-column-start: 3;
    grid-row-start: 2; }
  50% {
    grid-column-start: 5;
    grid-row-start: 4; }
  100% {
    grid-column-end: 11;
    grid-row-end: 6; } }

.topnav {
  overflow: hidden;
  font-family: 'Alata', sans-serif;
  grid-column: 1 / 13;
  grid-row: 1;
  text-decoration: none;
  color: white; }
  .topnav h1 {
    float: left;
    text-align: center;
    padding: 1.3em 2em;
    font-size: 1.2em;
    margin: 0;
    letter-spacing: 2px;
    transition: .4s; }
    .topnav h1:hover {
      letter-spacing: 3px; }
  .topnav button {
    float: right;
    background: inherit;
    color: white;
    transition: .4s; }
    .topnav button:hover {
      letter-spacing: 3px; }
  .topnav .text {
    font-family: 'Montserrat', sans-serif;
    margin: 2.1em 1em 0em 0em;
    border: inherit;
    font-size: 1em; }

.friends, .sessions-list, .tvtime-app, .profile {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0.3em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: .3em 2em;
  float: right;
  grid-transition: 1s; }
  .friends h1, .sessions-list h1, .tvtime-app h1, .profile h1 {
    font-size: 1em;
    margin-top: 0;
    text-align: center;
    color: #012a52; }
  .friends input, .sessions-list input, .tvtime-app input, .profile input {
    width: 70%;
    border: inherit;
    color: #474747;
    padding: .5em; }
  .friends button, .sessions-list button, .tvtime-app button, .profile button {
    border-radius: 1.5em;
    border: 0 solid white;
    padding: .5em; }
    .friends button:hover, .sessions-list button:hover, .tvtime-app button:hover, .profile button:hover {
      transition: .2s;
      background-color: #2cc8ce;
      color: white; }

.sessions-list {
  grid-column: 5 / 11;
  grid-row: 2 / 6; }

.tvtime-app {
  grid-column: 3 / 5;
  grid-row: 4 / 6; }

.profile {
  grid-column: 3 / 11;
  grid-row: 2 / 6;
  z-index: 5;
  display: none; }

footer {
  font-family: 'Montserrat', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #252525;
  color: white;
  text-align: center;
  grid-column: 1 / 13;
  grid-row: 8; }
  footer a {
    text-decoration: none;
    color: white; }
  footer .fa {
    margin-bottom: 1em;
    font-size: 1.5em; }

/* ###############
    MEDIA QUERYS
   ############### */
@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template-rows: repeat(10, 1fr); }
  .friends, .sessions-list, .tvtime-app, .profile {
    grid-column: 3 / 11;
    grid-row: 2 / 4; }
  .sessions-list {
    grid-column: 3/ 11;
    grid-row: 4 / 7; }
  .tvtime-app {
    grid-column: 3 / 11;
    grid-row: 7 / 9; }
  footer {
    grid-row: 10; } }

@media screen and (max-width: 600px) {
  .topnav {
    background-color: white;
    color: #012a52;
    padding-top: 3em;
    padding-bottom: 2em;
    margin: 1em;
    border-radius: 0.3em; }
    .topnav .text, .topnav button {
      color: #012a52;
      float: left;
      padding-right: 10em;
      padding-left: 2em; }
    .topnav h1 {
      margin: 1em;
      top: 0;
      left: 0;
      padding-right: 5em;
      position: fixed;
      border-radius: 0.3em;
      background-color: white;
      z-index: 5;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .wrapper {
    grid-template-rows: repeat(8, 1fr); }
  .friends, .sessions-list, .tvtime-app, .profile {
    grid-column: 2 / 12;
    grid-row: 2 / 3; }
  .sessions-list {
    grid-column: 2 / 12;
    grid-row: 3 / 5; }
  .tvtime-app {
    grid-column: 2 / 12;
    grid-row: 5 / 7; }
  footer {
    grid-row: 8; } }
